

* {
  font-family: "Open Sans",sans-serif;
  text-align: center;
  align-items: center;
  align-content: center;
  font-weight: 200;
}

body{
  margin:0px;
}

footer {
  width: 100%;
  background-color: #404041;
  margin-top: 0px;
  padding: 5px;
  color: #E6E7E8;
  margin-bottom: 20px;
  text-align: center;
  height: 50px;
  position: relative;
  top: -10px;
}

h1{
  position: relative;
  top: 5px;
  margin: 0px auto;
  width: 400px;
}

span{
  color:#ED458B;
}

main{
  margin:0px auto;
  width: 440px;
}

input{
  border:grey outset 1px;
  border-radius: 40px;
  background-color: #929497;
  color:#fff;
  padding:5px;
}

input:disabled{
  background-color: #D0D2D3;
}

input:hover{
  outline: 0px;
  background-color: #EB008B;
}

h1{
  text-align: center;
  align-items: center;
}
#guess-form{
  font-size: 20px;
  width: 255px;
  margin: 0px auto;
  border-radius: 0px;
  background-color: white;
  color: #e02881;
  padding: 5px;
  outline: 0px;}

#guest-text{
  color: #404041;
  margin: 10px;
  padding: 3px;
  outline: 0px;
}

#answer{
  color: black;
  padding: 3px;
  margin: 5px;
  position: relative;
  top: 75px;
}

 #guess-form{
   margin-bottom: 10px;
   text-align: left;
   height: 20px;
   outline: 0px;
 }

 #guess-button, #clear-button, #reset{
   width: 265px;
   padding: 5px;
   font-size: 15px;
 }

 #guess-button{
   margin-bottom: 10px;
 }

 #reset{
   position: relative;
   top: 140px;
 }
 #clear-button{
   margin-bottom: 10px;
 }

 #number{
  position: relative;
  top: 40px;
  font-size: 80px;
  color: #ED458B;
  margin: 0px;
}

.dis{
  cursor: not-allowed;
  pointer-events: none;
  background-color:#D0D2D3
}

@media (min-width:550px){
  #guess-button, #clear-button{
    width:140px;
  }
}

@media (max-height:590px) {
  #reset{
    position: relative;
    top:-5px;
  }
}
